{% extends 'base.html' %}
{% block title %}Add a new article{% endblock %}
{% block content %}
<div">
  <h3>Create a new post</h3>
</div>
{% if user.is_authenticated %}
<div class="form-group">
      <form method="post"> 
        {% csrf_token %}
        <div class="form-group row">
          <p>{{ post.title.label }}</p>
          {{ post.title }}
          {{ post.body }}
        </div>
        <input class="btn btn-primary" type="submit" value="Submit">
    </form>
  </div>
  {% else %}

You are not allowed to post on this blog without login first!

{% endif %}

{% endblock %}