{% extends 'base.html' %}

{% block content %}

<div class="content">
  <a href="{% url 'add_post' %}">Create a new post</a>
</div>

<div class="row">
  <div class="leftcolumn">
    {% for post in object_list reversed %}
    <div class="card">
      <a style="text-decoration: none; color: black;" href="{% url 'post' post.pk %}">
        <h2>{{post.title}}</h2>
        <p>{{post.body|truncatewords:20}}</p>
        
        <h6>{{post.created_at}}</h6>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}